ion-item {
  cursor: pointer;
  p {
    width: 90%;
    margin: 20px;

    span{
      font-size: small;
      color: var(--ion-color-semi-dark);
    }
  }
}

ion-icon {
  font-size: 30px; //Preferred size here
}
.avatar {
  font-size: 100px;
  margin: 10px;
}