<ion-item [color]="panelColor" lines="none" (click)="onPanelTap()" *ngIf="!isNoIcon && !isLargeIcon && !isInitials">
	<!-- <app-avatar [user]="user" *ngIf="user"></app-avatar> -->
	<ion-icon [src]="panelIcon" *ngIf="!user"></ion-icon>
	<p>
		<b>
			{{ panelTitle }}
		</b>
	</p>
	<ion-icon slot="end" [src]="eventIcon" color="dark" *ngIf="isEventRequired"></ion-icon>
</ion-item>
<ion-item [color]="panelColor" lines="none" (click)="onPanelTap()" *ngIf="!isNoIcon && !isLargeIcon && isInitials">
	<app-avatar [user]="user" *ngIf="user"></app-avatar>
	<!-- <ion-icon [src]="panelIcon" *ngIf="!user"></ion-icon> -->
	<p>
		<b>
			{{ panelTitle }}
		</b>
	</p>
	<ion-icon slot="end" [src]="eventIcon" color="dark" *ngIf="isEventRequired"></ion-icon>
</ion-item>
<ion-item  *ngIf="!isNoIcon && isLargeIcon" [color]="panelColor" lines="none" (click)="onPanelTap()">
	<!-- <app-avatar [user]="user" *ngIf="user"></app-avatar> -->
	<ion-icon class="avatar" [src]="panelIcon" *ngIf="!user"></ion-icon>
	<p>
		<b>
			{{ panelTitle }}
		</b>	
		<span *ngIf="info">
			<br><br>
			{{info}}
		</span>
	</p>
	<ion-icon slot="end" [src]="eventIcon" color="dark" *ngIf="isEventRequired"></ion-icon>
</ion-item>
<ion-item [color]="panelColor" lines="none" *ngIf="isNoIcon">
	<ion-item>
		<p>
			<b> {{ panelSubHead }} : </b>
			{{ panelTitle }}
		</p>
	</ion-item>
</ion-item>