<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary Sign up page template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2021-12-26 11:17:44 
 * Last modified  : 2022-01-27 10:06:20
 */
 -->
 <ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="end">
			<ion-button mode="ios" fill="outline" color="tertiary" (click)="goBack()"> 
				{{ 'button.discard' |
				translate }}
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content lines="none" color="primary">
	<form [formGroup]="formGroup" color="primary" lines="none">
		<ion-grid lines="none">
			<ion-row justify-content-center lines="none">
				<ion-col align-self-center size="12" size-lg="6" size-md="6" size-sm="6" offset-lg="3" offset-md="3"
				offset-sm="3" lines="none" class="text-center">
					<!-- app icon -->
					<ion-icon class="font-size-250-px" [src]="stringKey.IMAGE_ICON"></ion-icon>
					<!-- app icon -->

					<!-- page title -->
					<app-page-info-title [title]="stringKey.SIGN_UP" [info]="stringKey.SIGN_UP_INFO">
					</app-page-info-title>
					<!-- page title -->

					<!-- email -->
					<ion-card color="secondary">
						<ion-item color="secondary" lines="none">
							<ion-icon [src]="stringKey.ICON_FORM"></ion-icon>
							<p>{{stringKey.FORM_INFO_CREDENTIAL_DETAILS}}</p>
						</ion-item>

						<ion-card lines="none" color="light">
							<ion-item lines="none" color="light">
								<ion-label position="floating">{{stringKey.EMAIL}}</ion-label>
								<ion-input autocomplete="off" [placeholder]="stringKey.FORM_PLACEHOLDER_PROFILE_EMAIL"
									formControlName="userEmail" type="text" value="">
								</ion-input>
							</ion-item>
							<ion-card *ngIf="userEmail.invalid && userEmail.touched" color="medium">
								<ion-item color="warning">
									<ion-icon color="danger" slot="start" [src]="stringKey.ICON_WARNING"></ion-icon>
									{{stringKey.FORM_VALIDATION_EMAIL}}
								</ion-item>
							</ion-card>
						</ion-card>
					</ion-card>
					<!-- email -->

					<!-- personal details -->
					<ion-card color="secondary">
						<ion-item color="secondary" lines="none">
							<ion-icon [src]="stringKey.ICON_FORM"></ion-icon>
							<p>{{stringKey.FORM_INFO_PERSONAL_DETAILS}}</p>
						</ion-item>

						<!-- first name -->
						<ion-card lines="none" color="light">
							<ion-item lines="none" color="light">
								<ion-label position="floating">{{stringKey.FIRST_NAME}}</ion-label>
								<ion-input autocomplete="off"
									[placeholder]="stringKey.FORM_PLACEHOLDER_PROFILE_FIRST_NAME"
									formControlName="userFirstName" type="text" value="">
								</ion-input>
							</ion-item>
							<ion-card *ngIf="userFirstName.invalid && userFirstName.touched" color="warning">
								<ion-item color="warning">
									<ion-icon color="danger" slot="start" [src]="stringKey.ICON_WARNING"></ion-icon>
									{{stringKey.FORM_VALIDATION_USER_NAME}}
								</ion-item>
							</ion-card>
						</ion-card>
						<!-- first name -->
						<!-- last name -->
						<ion-card lines="none" color="light">
							<ion-item lines="none" color="light">
								<ion-label position="floating">{{stringKey.LAST_NAME}}</ion-label>
								<ion-input autocomplete="off"
									[placeholder]="stringKey.FORM_PLACEHOLDER_PROFILE_LAST_NAME"
									formControlName="userLastName" type="text" value="">
								</ion-input>
							</ion-item>
							<ion-card *ngIf="userLastName.invalid && userLastName.touched" color="warning">
								<ion-item color="warning">
									<ion-icon color="danger" slot="start" [src]="stringKey.ICON_WARNING"></ion-icon>
									{{stringKey.FORM_VALIDATION_USER_NAME}}
								</ion-item>
							</ion-card>
						</ion-card>
						<!-- last name -->
					</ion-card>
					<!-- personal details -->
					<!-- terms -->
				</ion-col>
			</ion-row>
			<ion-row justify-content-center lines="none">
				<ion-col align-self-center size="12" size-lg="6" size-md="6" size-sm="6" offset-lg="3" offset-md="3"
				offset-sm="3" lines="none" class="text-center">
					<ion-grid>
						<ion-row>
							<ion-col>
								<ion-card color="tertiary" (click)="submitData(userTypeEnum.Teacher)">
									<ion-grid>
										<ion-row>
											<ion-col>
												<!-- <ion-button class="font-size-50-px" style="height: 100px; border-radius: 50px;">
													sss
												</ion-button> -->
												<ion-icon class="font-size-100-px"
													[src]="stringKey.ICON_TEACHER"></ion-icon>
											</ion-col>
										</ion-row>
										<ion-row>
											<ion-col>
												<ion-label>&nbsp; <b>{{stringKey.SIGN_UP_TEACHER}}</b> </ion-label>
												<br>
												<br>
											</ion-col>
										</ion-row>
									</ion-grid>
								</ion-card>
							</ion-col>
							<ion-col>
								<ion-card color="tertiary" (click)="submitData(userTypeEnum.Teacher)">
									<ion-grid>
										<ion-row>
											<ion-col>
												<!-- <ion-button class="font-size-50-px" style="height: 100px; border-radius: 50px;">
													sss
												</ion-button> -->
												<ion-icon class="font-size-100-px"
													[src]="stringKey.ICON_STUDENT"></ion-icon>
											</ion-col>
										</ion-row>
										<ion-row>
											<ion-col>
												<ion-label>&nbsp; <b>{{stringKey.SIGN_UP_STUDENT}}</b> </ion-label>
												<br><br>
											</ion-col>
										</ion-row>
									</ion-grid>
								</ion-card>
							</ion-col>
						</ion-row>
					</ion-grid>
					
					
				</ion-col>
				
			</ion-row>
		</ion-grid>
		
	</form>
</ion-content>