<ion-header [appScrollTracker]="scrollArea">
	<ion-toolbar color="primary">
		<ion-title>
			{{ 'pageTitle.myProfile' | translate }}
		</ion-title>
		<ion-buttons slot="end">
			<ion-button mode="ios" fill="outline" color="dark" (click)="closeModal()">{{ stringKey.CLOSE }}</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content lines="none" color="primary" #scrollArea scrollEvents="true">
	<!-- page title -->
	<app-page-info-title [title]="'pageTitle.myProfile' | translate" [info]="'pageSubTitle.myProfile' | translate"></app-page-info-title>

	<!-- fab -->
	<ion-fab *ngIf="!ifFormActive" slot="fixed" vertical="bottom" horizontal="end" color="tertiary">
		<ion-fab-button color="dark" (click)="edit()" color="tertiary">
			<ion-icon [src]="stringKey.ICON_EDIT"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<ion-fab *ngIf="ifFormActive" slot="fixed" vertical="bottom" horizontal="end" color="tertiary">
		<ion-fab-button color="dark" (click)="submit()" color="tertiary">
			<ion-icon [src]="stringKey.ICON_SAVE"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<!-- fab -->

	<!-- page title -->
	<ion-item color="primary" lines="none">
		<div>
			<ion-icon CLASS="avatar"></ion-icon>
			<!-- <img src="assets/images/app_avatar.svg" width="200" /> -->
		</div>
		<ion-item color="none" lines="none" class="segment">
			<h2>
				{{ formGroup.value.userFirstName }}
				{{ formGroup.value.userLastName }}
			</h2>
		</ion-item>
	</ion-item>

	<ion-card>
		<ion-segment mode="ios" (ionChange)="slides.slideTo(segment)" [(ngModel)]="segment">
			<ion-segment-button value="0">
				<ion-label [innerHTML]="'pageTitle.profile' | translate"></ion-label>
				<!-- <ion-icon size="large" [src]="stringKey.ICON_APPLIED_REQUIREMENT"></ion-icon> -->
			</ion-segment-button>
			<ion-segment-button value="1">
				<ion-label [innerHTML]="'pageTitle.interest' | translate"></ion-label>
				<!-- <ion-icon size="large" [src]="stringKey.ICON_OPEN_REQUIREMENT"></ion-icon> -->
			</ion-segment-button>
		</ion-segment>
	</ion-card>



	<form [formGroup]="formGroup" (ngSubmit)="submit()" color="primary" lines="none">
		<ion-slides #slides>
			<ion-slide>
				<ion-grid lines="none">
					<ion-row justify-content-center lines="none">
						<ion-col align-self-center lines="none">
							<ion-card color="secondary">
								<ion-item color="secondary" lines="none">
									<ion-icon [src]="stringKey.ICON_FORM" slot="start"></ion-icon>
									<p>
										{{ 'formInfo.personalDetails' | translate }}
									</p>
								</ion-item>
								<!-- first name -->
								<ion-card lines="none" color="light">
									<ion-item lines="none" color="light">
										<ion-label position="floating">{{
											'formInfo.firstName' | translate
											}}</ion-label>
										<ion-input autocomplete="off" formControlName="userFirstName" type="text">
										</ion-input>
									</ion-item>
									<ion-card *ngIf="userFirstName.invalid && userFirstName.touched" color="warning">
										<ion-item color="warning">
											<ion-icon color="danger" slot="start" [src]="stringKey.ICON_WARNING">
											</ion-icon>
											{{ 'validation.required' | translate }}
										</ion-item>
									</ion-card>
								</ion-card>
								<!-- first name -->
								<!-- last name -->
								<ion-card lines="none" color="light">
									<ion-item lines="none" color="light">
										<ion-label position="floating">{{
											'formInfo.lastName' | translate
											}}</ion-label>
										<ion-input autocomplete="off" formControlName="userLastName" type="text">
										</ion-input>
									</ion-item>
									<ion-card *ngIf="userLastName.invalid && userLastName.touched" color="warning">
										<ion-item color="warning">
											<ion-icon color="danger" slot="start" [src]="stringKey.ICON_WARNING">
											</ion-icon>
											{{ 'validation.required' | translate }}
										</ion-item>
									</ion-card>
								</ion-card>
								<!-- last name -->
							</ion-card>
							<ion-card color="secondary">
								<ion-item color="secondary" lines="none">
									<ion-icon [src]="stringKey.ICON_FORM" slot="start"></ion-icon>
									<p>
										{{ 'formInfo.yourCred' | translate }}
									</p>
								</ion-item>
								
								<!-- email -->
								<ion-card lines="none" color="light">
									<ion-item lines="none" color="light">
										<ion-label position="floating">{{ 'formInfo.email' | translate }}</ion-label>
										<ion-input autocomplete="off" formControlName="userEmail" type="text">
										</ion-input>
									</ion-item>
									<ion-card *ngIf="userEmail.invalid && userEmail.touched" color="warning">
										<ion-item color="warning">
											<ion-icon color="danger" slot="start" [src]="stringKey.ICON_WARNING">
											</ion-icon>
											{{ 'validation.required' | translate }}
										</ion-item>
									</ion-card>
								</ion-card>
								<!-- email -->
							</ion-card>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-slide>
			<ion-slide>
				<ion-grid lines="none">
					<ion-row justify-content-center lines="none">
						<ion-col align-self-center lines="none">
							<ion-card color="secondary">
								<ion-item color="secondary" lines="none">
									<ion-icon [src]="stringKey.ICON_FORM" slot="start"></ion-icon>
									<p>
										{{ 'formInfo.intarest' | translate }}
									</p>
								</ion-item>
								<!-- first name -->
								<ion-card lines="none" color="light">
									<ion-item lines="none" color="light">
										<ion-label position="floating">{{ 'formInfo.subjects' | translate }}</ion-label>
										<ion-textarea rows="6" autocomplete="off" formControlName="userSkills" type="text">
										</ion-textarea>
									</ion-item>
								</ion-card>
								<!-- first name -->
							</ion-card>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-slide>
		</ion-slides>


	</form>
</ion-content>