<!-- 
/**
* © Rolling Array https://rollingarray.co.in/
*
* long description for the file
*
* @summary Course material page template
* @author code@rollingarray.co.in
*
* Created at     : 2022-01-16 08:18:18 
 * Last modified  : 2022-01-26 22:34:01
*/	
 -->
<!-- availabilityContext -->
<ion-item color="light">
	<ion-icon *ngIf="isUserTypeTeacher"  size="large" [src]="stringKey.ICON_MENTOR"></ion-icon>
	<ion-icon *ngIf="isUserTypeStudent"  size="large" [src]="stringKey.ICON_HELP_SUPPORT"></ion-icon>
	&nbsp;&nbsp;<b>{{availabilityPlanner.availabilityContext}}</b>
</ion-item>
<!-- availabilityContext -->

<!-- keyword -->
<ion-card-content>
	<keyword [context]="availabilityPlanner.availabilityContext"></keyword>
</ion-card-content>
<!-- keyword -->

<!-- Online Meet Url -->
<ion-item color="light" *ngIf="isUserTypeTeacher">
	<ion-icon size="large" class="ion-panel-icon" [src]="stringKey.ICON_ONLINE_VIDEO"></ion-icon>
	<b>&nbsp;&nbsp; {{'pageTitle.meet' | translate}}</b>
</ion-item>

<ion-card-content *ngIf="isUserTypeTeacher">
	<a target="_blank" [href]="availabilityPlanner.onlineMeetingUrl">
		{{availabilityPlanner.onlineMeetingUrl}}
	</a>
</ion-card-content>
<!-- Online Meet Url -->

<!-- Schedule -->
<ion-item color="light">
	<ion-icon size="large" class="ion-panel-icon" [src]="stringKey.ICON_CALENDER"></ion-icon>
	<b>&nbsp;&nbsp; {{'pageTitle.schedule' | translate}}</b>
</ion-item>
<ion-card-content>
	<ion-button mode="ios" color="medium">
		<ion-icon class="ion-panel-icon" [src]="stringKey.ICON_TIME"></ion-icon>
		&nbsp;&nbsp;{{'pageTitle.from' | translate}} -
		&nbsp;&nbsp;{{availabilityPlanner.availabilityFrom | time12Hr}}
	</ion-button>
	<ion-button mode="ios" color="medium">
		<ion-icon class="ion-panel-icon" [src]="stringKey.ICON_TIME"></ion-icon>
		&nbsp;&nbsp;{{'pageTitle.to' | translate}} - 
		&nbsp;&nbsp;{{availabilityPlanner.availabilityTo  | time12Hr}}
	</ion-button>
</ion-card-content>
<!-- Schedule -->