<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * long description for the file
 *
 * @summary Account activation page template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2021-10-31 14:25:52 
 * Last modified  : 2021-11-11 17:29:30
 */
 -->
<ion-content lines="none" color="primary" #scrollArea scrollEvents="true">
	<form [formGroup]="formGroup" (ngSubmit)="submit()" color="primary" lines="none">
		<ion-grid lines="none">
			<ion-row justify-content-center lines="none">
				<ion-col align-self-center align-self-center size="12" size-lg="8" size-md="8" size-sm="8" offset-lg="2" offset-md="2"
				offset-sm="2" lines="none">

					<!-- app icon -->
					<img class="margin-top-50-px" [src]="stringKey.IMAGE_ICON" />
					<!-- app icon -->

					<!-- page title -->
					<app-page-info-title [title]="stringKey.ACCOUNT_VERIFICATION" [info]="stringKey.ACCOUNT_ACTIVATION_INFO">
					</app-page-info-title>
					<!-- page title -->

					<!-- code -->
					<ion-card color="secondary">
						<ion-item color="secondary" lines="none">
							<ion-icon [src]="stringKey.ICON_FORM"></ion-icon>
							<p>{{stringKey.FORM_INFO_ACCOUNT_ACTIVATION}}</p>
						</ion-item>
						
						<ion-card lines="none" color="light">
							<ion-item lines="none" color="light">
								<ion-label position="floating">{{stringKey.VERIFICATION_CODE}}</ion-label>
								<ion-input autocomplete="off" [placeholder]="stringKey.FORM_PLACEHOLDER_CODE"
									formControlName="userVerificationCode" type="text" value="">
								</ion-input>
							</ion-item>
							<ion-card *ngIf="userVerificationCode.invalid && userVerificationCode.touched" color="warning">
								<ion-item color="warning">
									<ion-icon color="danger" slot="start" [src]="stringKey.ICON_WARNING"></ion-icon>
									{{stringKey.FORM_VALIDATION_VERIFICATION_CODE}}
								</ion-item>
							</ion-card>
						</ion-card>
					</ion-card>
					<!-- code -->

					<!-- lost verification code -->
					<ion-card color="semi-dark">
						<ion-item color="semi-dark" lines="none">
							<ion-icon [src]="stringKey.ICON_RIGHT_ARROW"></ion-icon>
							<p [innerHtml]="stringKey.LOST_VERIFICATION_CODE"></p>
							<ion-button class="inline-button" expand="block" color="primary" slot="end" (click)="resendVerificationCode()">{{stringKey.RESEND}}</ion-button>
						</ion-item>
						
					</ion-card>
					<!-- lost verification code -->

				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content>
<ion-footer>
	<ion-toolbar color="primary-gradient">
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-button class="footer-button" size="default" expand="block" color="semi-dark" (click)="cancelModal()">
						<ion-icon [src]="stringKey.ICON_CANCEL"></ion-icon>
						<ion-label>&nbsp; {{stringKey.CANCEL}} </ion-label>
					</ion-button>
				</ion-col>
				<ion-col>
					<ion-button class="footer-button" size="default" expand="block" color="tertiary" (click)="submit()">
						<ion-icon [src]="stringKey.ICON_ACTIVATE"></ion-icon>
						<ion-label>&nbsp; {{stringKey.ACTIVATE}} </ion-label>
					</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-toolbar>
</ion-footer>