<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * long description for the file
 *
 * @summary Intro component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2021-11-11 16:33:48 
 * Last modified  : 2022-01-21 15:58:35
 */
 -->
<ion-item color="secondary" (click)="openMonthYearPicker()" class="cursor-pointer">
	<ion-icon [src]="stringKey.ICON_MORE" color="tertiary" size="large"></ion-icon>
	<h1><b>{{currentMonth}} - {{currentYear}}</b></h1>
</ion-item>

<ion-item color="secondary">
	<ion-grid>
		<ion-row>
			<ion-col size="1.7" *ngFor="let day of daysInWeek">
				<div class="day">
					<ion-item class="text-center" lines="none" color="secondary">
						<ion-label>
							<!-- large devices -->
							<h2 class="hidden-device-xs hidden-device-sm">{{day}}</h2> 
							<!-- class devices -->
							<h2 class="hidden-device-md hidden-device-lg hidden-device-xl hidden-device-xxl">{{day.charAt(0)}}</h2>
						</ion-label>
					</ion-item>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-item>
<ion-item color="secondary">
	<ion-slides lines="none" #slides pager="true" (ionSlidesDidLoad)="slidesLoaded($event)">
		<ion-slide *ngFor="let week of weeksInMonth$ | async">
			<ion-grid>
				<ion-row>
					<ion-col size="1.7" *ngFor="let day of week" (click)="selectDate(day.fullDate)">
						<div class="day" *ngIf="day.day">
							<ion-item lines="none" class="text-center" color="secondary">
								<ion-label *ngIf="!day.isToday">
									<h3>{{day.date}}</h3>
									<br>
								</ion-label>

								<ion-label *ngIf="day.isToday" color="tertiary">
									<h3><b>{{day.date}}</b></h3>
									<br>
								</ion-label>
							</ion-item>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-slide>
	</ion-slides>
</ion-item>
 
