<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * long description for the file
 *
 * @summary Intro component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2021-11-11 16:33:48 
 * Last modified  : 2022-01-26 19:58:55
 */
 -->
<ion-content lines="none" color="primary" #scrollArea scrollEvents="true">
	<ion-grid lines="none">
		<ion-row justify-content-center lines="none">
			<ion-col align-self-center align-self-center size="12" size-lg="8" size-md="8" size-sm="8" offset-lg="2"
				offset-md="2" offset-sm="2" lines="none" class="text-center">
				<!-- app icon -->
				<ion-icon class="font-size-250-px" [src]="stringKey.IMAGE_ICON"></ion-icon>
				<!-- app icon -->

				<!-- page title -->
				<app-page-info-title [title]="'pageTitle.selectlanguage' | translate"
					[info]="'pageSubTitle.selectlanguage' | translate">
				</app-page-info-title>
				<!-- page title -->

				<!-- code -->
				<ion-grid>
					<ion-row>
						<ion-col size="6" *ngFor="let lang of languages">
							<ion-card class="cursor-pointer" color="secondary" (click)="selectLang(lang.code)">
								<ion-item [color]="
								lang.code === translateService.currentLang ? 'success' : 'secondary'
				" lines="none">
									<ion-icon [src]="stringKey.ICON_LANGUAGE"></ion-icon>
									<p>{{ lang.title }}</p>
								</ion-item>
							</ion-card>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>