<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * long description for the file
 *
 * @summary Menu page template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2021-11-01 20:47:46 
 * Last modified  : 2021-12-26 17:24:28
 */
 -->
<ion-app>
    <ion-split-pane contentId="content">
        <ion-menu contentId="content" type="overlay" color="pitch-dark">
            <ion-header lines="none" class="ion-no-border">
                <ion-menu-toggle auto-hide="false">
                    <ion-toolbar color="primary-gradient">
                        <ion-card
                            class="cursor-pointer margin-top-50-px"
                            *ngIf="loadRoute"
                        >
                            <ion-item color="secondary" lines="none">
                                <ion-icon
                                    size="large"
                                    slot="start"
                                    [src]="stringKey.IMAGE_ICON_SMALL"
                                ></ion-icon>
                                <ion-label>
                                    <!-- <b>{{projectModel.projectName}}</b> -->
                                </ion-label>
                            </ion-item>
                        </ion-card>
                        <ion-grid color="pitch-dark">
                            <ion-row color="pitch-dark">
                                <ion-col color="pitch-dark">
                                    <!-- <img height="100" [src]="avatar" /> -->
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <h2>{{loggedInUser}}</h2>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-toolbar>
                </ion-menu-toggle>
            </ion-header>

            <ion-content color="primary-gradient">
                <ion-menu-toggle auto-hide="false" *ngIf="loadRoute">
                    <ion-grid color="pitch-dark">
                        <ion-row *ngIf="loadRoute">
                            <ion-col>
                                <ion-card
                                    class="padding-10-px"
                                    color="semi-dark-gradient"
                                >
                                    <!-- <ion-icon
                                        *ngIf="projectModel.userTypeId == userTypeEnum.Student"
                                        [src]="stringKey.ICON_ADMIN"
                                    ></ion-icon>
                                    <ion-icon
                                        *ngIf="projectModel.userTypeId == userTypeEnum."
                                        [src]="stringKey.ICON_REVIEWER"
                                    ></ion-icon>
                                    <ion-icon
                                        *ngIf="projectModel.userTypeId == userTypeEnum.Assignee"
                                        [src]="stringKey.ICON_USER"
                                    ></ion-icon>

                                    <ion-label
                                        >&nbsp;
                                        {{projectModel.userTypeName}}
                                    </ion-label> -->
                                </ion-card>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-card
                                    class="padding-10-px cursor-pointer"
                                    color="semi-dark-gradient"
                                    (click)="viewProfile()"
                                >
                                    <ion-icon
                                        size="large"
                                        [src]="stringKey.ICON_USER"
                                    ></ion-icon>
                                    
                                    <ion-label
                                        class="segment"
                                        >{{stringKey.PROFILE}}
                                    </ion-label>
                                </ion-card>
                            </ion-col>
                            <ion-col>
                                <ion-card
                                    class="padding-10-px cursor-pointer"
                                    color="semi-dark-gradient"
                                    (click)="learnMore()"
                                >
                                    <ion-icon
                                        size="large"
                                        [src]="stringKey.ICON_LEARN"
                                    ></ion-icon>
                                    
                                    <ion-label
                                        class="segment"
                                        >{{stringKey.LEARN}}
                                    </ion-label>
                                </ion-card>
                            </ion-col>
                            <ion-col>
                                <ion-card
                                    class="padding-10-px cursor-pointer"
                                    color="semi-dark-gradient"
                                    (click)="presentLogoutAlertConfirm()"
                                >
                                    <ion-icon
                                        
                                        size="large"
                                        [src]="stringKey.ICON_LOGOUT"
                                    ></ion-icon>
                                    <ion-label
                                        class="segment"
                                        >{{stringKey.LOGOUT}}
                                    </ion-label>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="text-center">
                                <p>
                                    <ion-label>{{ stringKey.VERSION }} :: {{ appEnvironment }} {{ appVersion }}</ion-label>
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <ion-card class="cursor-pointer" (click)="gotoMyProjects()">
                        <ion-item color="primary" lines="none">
                            <ion-icon
                                slot="start"
                                name="arrow-back-outline"
                            ></ion-icon>
                            <ion-label> {{stringKey.MY_PROJECT}} </ion-label>
                        </ion-item>
                    </ion-card>

                    <ion-card

						class="cursor-pointer"
                        *ngFor="let p of pages"
                        color="primary-gradient"
                    >
                        <ion-item color="pitch-dark" lines="none">
                            <ion-icon
                                [src]="stringKey.ICON_MENU"
                                slot="start"
                            ></ion-icon>
                            <ion-label> {{ p.title }} </ion-label>
                        </ion-item>
                        <ion-menu-toggle auto-hide="false">
                            <ion-card
                                class="cursor-pointer"
                                *ngFor="let eachSubMenu of p.children"
                            >
                                <ion-item
                                    lines="none"
                                    color="primary"
                                    (click)="gotoPage(eachSubMenu)"
                                    routerDirection="root"
                                    routerLinkActive="active"
                                >
                                    <ion-icon
                                        slot="start"
                                        [src]="eachSubMenu.icon"
                                    ></ion-icon>
                                    {{ eachSubMenu.title }}
									<ion-icon
											*ngIf="!eachSubMenu.allowMenuAccess"
											color="warning"
											[src]="stringKey.ICON_RESTRICTED"
											slot="end"
										></ion-icon>
                                    
                                </ion-item>
                            </ion-card>
                        </ion-menu-toggle>
                    </ion-card>
                </ion-menu-toggle>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
