<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * long description for the file
 *
 * @summary Menu page template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2021-11-01 20:47:46 
 * Last modified  : 2022-01-26 23:08:10
 */
 -->
<ion-app>
	<ion-split-pane contentId="content">
		<ion-menu contentId="content" type="overlay" color="secondary">
			<ion-header lines="none" class="ion-no-border">
				<ion-menu-toggle auto-hide="false">
					<ion-toolbar color="secondary">
						<ion-grid color="secondary">
							<ion-row color="secondary">
								<ion-col color="secondary">
									<!-- <ion-button class="font-size-50-px" style="height: 100px; border-radius: 50px;">
										sss
									</ion-button> -->
									<ion-icon class="font-size-250-px margin-top-30-px" [src]="stringKey.IMAGE_ICON">
									</ion-icon>
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-toolbar>
				</ion-menu-toggle>
			</ion-header>

			<ion-content color="secondary">
				<ion-menu-toggle auto-hide="false" *ngIf="loadRoute">
					<ion-card class="cursor-pointer" *ngFor="let p of pages" color="secondary">
						<ion-item color="secondary" lines="none">
							<ion-icon [src]="stringKey.ICON_MENU" slot="start"></ion-icon>
							<ion-label> {{ p.title | translate }} </ion-label>
						</ion-item>
						<ion-menu-toggle auto-hide="false">
							<ion-card class="cursor-pointer" *ngFor="let eachSubMenu of p.children">
								<div *ngIf="eachSubMenu.url">
									<ion-item lines="none" color="tertiary" (click)="gotoPage(eachSubMenu)"
										routerDirection="root" routerLinkActive="active">
										<ion-icon slot="start" [src]="eachSubMenu.icon"></ion-icon>
										{{ eachSubMenu.title | translate }}
										<ion-icon *ngIf="!eachSubMenu.allowMenuAccess" color="warning"
											[src]="stringKey.ICON_RESTRICTED" slot="end"></ion-icon>

									</ion-item>
								</div>
								<div *ngIf="eachSubMenu.action">
									<ion-item lines="none" color="tertiary" (click)="gotoAction(eachSubMenu)"
										routerDirection="root" routerLinkActive="active">
										<ion-icon slot="start" [src]="eachSubMenu.icon"></ion-icon>
										{{ eachSubMenu.title | translate }}
										<ion-icon *ngIf="!eachSubMenu.allowMenuAccess" color="warning"
											[src]="stringKey.ICON_RESTRICTED" slot="end"></ion-icon>

									</ion-item>
								</div>
							</ion-card>
						</ion-menu-toggle>
					</ion-card>
				</ion-menu-toggle>
			</ion-content>
			<ion-footer lines="none" class="ion-no-border">
				<ion-menu-toggle auto-hide="false">
					<ion-toolbar color="secondary">
						<ion-card color="primary">
							<ion-grid color="secondary">
								<ion-row color="secondary">
									<ion-col color="secondary">
										<!-- <ion-button class="font-size-50-px" style="height: 100px; border-radius: 50px;">
											sss
										</ion-button> -->
										<ion-icon *ngIf="isUserTypeTeacher" class="font-size-100-px"
											[src]="stringKey.ICON_TEACHER"></ion-icon>
										<ion-icon *ngIf="isUserTypeStudent" class="font-size-100-px"
											[src]="stringKey.ICON_STUDENT"></ion-icon>
									</ion-col>
								</ion-row>
								<ion-row>
									<ion-col>
										<h2>{{loggedInUser}}</h2>
									</ion-col>
								</ion-row>
							</ion-grid>
							<ion-grid color="secondary">
								<ion-row>
									<ion-col>
										<ion-card class="padding-10-px cursor-pointer" color="secondary"
											(click)="viewProfile()">
											<ion-icon size="large" [src]="stringKey.ICON_USER"></ion-icon>

											<ion-label class="segment">{{'pageTitle.profile' | translate}}
											</ion-label>
										</ion-card>
									</ion-col>
									<ion-col>
										<ion-card class="padding-10-px cursor-pointer" color="secondary"
											(click)="presentLogoutAlertConfirm()">
											<ion-icon size="large" [src]="stringKey.ICON_LOGOUT"></ion-icon>
											<ion-label class="segment">{{'button.signOut' | translate}}
											</ion-label>
										</ion-card>
									</ion-col>
								</ion-row>
								<ion-row>
									<ion-col class="text-center">
										<p>
											<ion-label>{{ stringKey.VERSION }} :: {{ appEnvironment }} {{ appVersion }}
											</ion-label>
										</p>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-card>

					</ion-toolbar>
				</ion-menu-toggle>
			</ion-footer>
		</ion-menu>
		<ion-router-outlet id="content"></ion-router-outlet>
	</ion-split-pane>
</ion-app>