/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * long description for the file
 *
 * @summary Front page template style
 * @author code@rollingarray.co.in
 *
 * Created at     : 2021-12-26 11:16:28 
 * Last modified  : 2021-12-26 19:59:34
 */


ion-card {
  border: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.app_name{
  text-shadow: 2px 2px #000;
  font-weight: bold;
}

.app_tag_name{
  color: rgb(253, 245, 132);
  text-shadow: 2px 2px #000;
  font-weight: bold;
  font-size: large;
}

ion-button{
  width: 280px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}

ion-col{
  margin: 10px 0;
  align-content: center;
}

h1, h2, h3, h4,h5, h6{
  text-align: center;
}

.tag-gap{
  // margin: 15px 0 0 0;
}

.border{
  border-top: 1px solid var(--ion-color-primary);
}

.ph{
  width: 280px;
  height: 60px;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}