<!--
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary Tool Tip component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2021-08-06 18:56:24 
 * Last modified  : 2021-11-06 19:31:59
 */
-->

<ion-content color="primary">
    <div class="title">
        {{ toolTip.title }}
    </div>
    <div class="sub-title" [innerHTML]="toolTip.subTitle"></div>
    <ion-button color="dark" class="float-right width-60-p" (click)="gotIt()">{{
        stringKey.OK
    }}</ion-button>
</ion-content>
