<!-- 
/**
 * @author Ranjoy Sen
 * @email ranjoy.sen@rockwellcollins.com
 * @create date 2021-12-12 00:57:02
 * @modify date 2021-12-12 00:57:02
 * @desc Knowledge base article content element component template
 */
 -->
<ion-text *ngIf="content">
	<span *ngFor="let eachContentElement of content">
		
		<span
			*ngIf="eachContentElement.type == elementTypeEnum.UNFORMATTED_TEXT"
		>
		{{eachContentElement.value!}}
		</span>
		<span
			*ngIf="eachContentElement.type == elementTypeEnum.TEXT"
			[innerHTML]="eachContentElement.value!"
		>
		</span>
		<span *ngIf="eachContentElement.type == elementTypeEnum.HYPERLINK">
			<a target="blank" [href]="eachContentElement.link">{{
				eachContentElement.value
			}}</a>
		</span>
		<!-- <lib-image-holder *ngIf="eachContentElement.type == elementTypeEnum.IMAGE" [image]="getImagePath(eachContentElement!.value!)"></lib-image-holder> -->
		
	</span>
</ion-text>
