/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * long description for the file
 *
 * @summary Articles page template style
 * @author code@rollingarray.co.in
 *
 * Created at     : 2021-11-15 21:34:14 
 * Last modified  : 2021-12-17 20:34:23
 */

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.search {
    padding: 10px;
    width: 100%;
    cursor: pointer;
}
ion-input {
    margin: 0 10px;
}

.header-level-1 {
    margin: 20px 20px 20px 0;

    ion-item {
        ion-icon {
            margin: 0 10px 0 10px;
        }
        font-size: 25px;
        font-weight: bold;
        line-height: 40px;
        color: var(--ion-color-semi-dark);
    }
}

.header-level-2 {
    margin: 20px 20px 20px 0;

    ion-item {
        ion-icon {
            margin: 0 10px 0 10px;
        }
        font-size: 20px;
        font-weight: bold;
        line-height: 35px;
        color: var(--ion-color-semi-dark);
    }
}

.header-level-3 {
    margin: 20px 20px 20px 10px;

    ion-item {
        ion-icon {
            margin: 0 10px 0 10px;
        }
        font-size: 18px;
        font-weight: bold;
        line-height: 30px;
        color: var(--ion-color-semi-dark);
    }
}

.para {
    margin: 20px 20px 20px 30px;
    font-size: 16px;
    color: var(--ion-color-semi-dark);
}

.list {
    margin: 20px 20px 20px 30px;
    font-size: 16px;
    color: var(--ion-color-semi-dark);

    .circle {
        background-color: var(--ion-color-semi-dark);
        width: 20px;
        height: 20px;
        float: left;
    }
}

.list-image {
    margin-left: 70px;
    width: 80%;
}

.para-image {
    margin: 30px;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.navigate {
    background-color: var(--ion-color-medium);
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

ion-alert {
    --min-width: 450px;
}

.feedback-option {
    margin: 0 5px;
    font-size: 30px;
    cursor: pointer;
}

ion-card-title{
    font-weight: 700;
    font-size: 18px;
}