<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * long description for the file
 *
 * @summary Intro component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2021-11-11 16:33:48 
 * Last modified  : 2022-01-26 15:15:57
 */
 -->
<ion-card class="cursor-pointer" *ngFor="let eachMenu of (subChildMenu$ | async)">
	<ion-item lines="none" (click)="navigateToCourseMaterialArticle(eachMenu.subChildArticleId)">
		<ion-icon color="primary" [src]="stringKey.ICON_MORE" slot="start"></ion-icon>
		<ion-label class="font-size-17-px">
			{{ eachMenu.articleTitle }}
		</ion-label>
	</ion-item>
	<!-- ss -->
</ion-card>
<ion-button (click)="addNewSubChild()" expand="block" *ngIf="isMaterialOwner">
	<ion-icon [src]="stringKey.ICON_ADD" slot="start"></ion-icon>
	{{'button.addSubChildMenu' | translate}}
</ion-button>