/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary  Ionic Variables and Theming
 * @author code@rollingarray.co.in
 *
 * Created at     : 2021-05-18 19:16:57 
 * Last modified  : 2021-11-23 16:05:36
 */

@import url(https://fonts.googleapis.com/css?family=Ubuntu&display=swap);
 
:root {
  // font
  --ion-font-family: 'Ubuntu', sans-serif;
  font-family: var(--ion-font-family) !important;
  
  /** primary **/
  --ion-color-primary: #323433;
  --ion-color-primary-rgb: 50,52,51;
  --ion-color-primary-contrast: #f7be06;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #2c2e2d;
  --ion-color-primary-tint: #474847;

  /** secondary **/
  --ion-color-secondary: #ffa000;
  --ion-color-secondary-rgb: 255,160,0;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e08d00;
  --ion-color-secondary-tint: #ffaa1a;

  /** secondary **/
  --ion-color-tertiary: #ffab00;
  --ion-color-tertiary-rgb: 255,171,0;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #e09600;
  --ion-color-tertiary-tint: #ffb31a;

  /** tertiary **/
  --ion-color-quaternary: #ffc107;
  --ion-color-quaternary-rgb: 255,193,7;
  --ion-color-quaternary-contrast: #000000;
  --ion-color-quaternary-contrast-rgb: 0,0,0;
  --ion-color-quaternary-shade: #e0aa06;
  --ion-color-quaternary-tint: #ffc720;

  /** senary **/
  --ion-color-senary: #f7be06;
  --ion-color-senary-rgb: 255,235,59;
  --ion-color-senary-contrast: #000000;
  --ion-color-senary-contrast-rgb: 0,0,0;
  --ion-color-senary-shade: #e0cf34;
  --ion-color-senary-tint: #ffed4f;

  /** success **/
  --ion-color-success: #01923b;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #fecb00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #000;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #d4ba4e;
  --ion-color-warning-tint: #c09d0f;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #ef4f15;
  --ion-color-dark-rgb: 255,109,0;
  --ion-color-dark-contrast: #fff;
  --ion-color-dark-contrast-rgb: 0,0,0;
  --ion-color-dark-shade: #e06000;
  --ion-color-dark-tint: #ff7c1a;

  /** semi dark **/
  --ion-color-semi-dark: #5f6160;
  --ion-color-semi-dark-rgb: 34, 34, 34;
  --ion-color-semi-dark-contrast: #ffffff;
  --ion-color-semi-dark-contrast-rgb: 255, 255, 255;
  --ion-color-semi-dark-shade: #1e2023;
  --ion-color-semi-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #dcdde4;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #252525;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #eaeaeb;
  --ion-color-light-rgb: 189,189,189;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #a6a6a6;
  --ion-color-light-tint: #c4c4c4;

  /** primary-gradient **/
  --ion-color-primary-gradient: linear-gradient(#141515, #1b1c1b);
  --ion-color-primary-gradient-rgb: 244, 244, 244;
  --ion-color-primary-gradient-contrast: #fff5f5;
  --ion-color-primary-gradient-contrast-rgb: 0, 0, 0;
  --ion-color-primary-gradient-shade: #d7d8da;
  --ion-color-primary-gradient-tint: #f5f6f9;

  // ion-color-pitch-dark
  --ion-color-pitch-dark: #161716;
  --ion-color-pitch-dark-rgb: 244, 244, 244;
  --ion-color-pitch-dark-contrast: #fff5f5;
  --ion-color-pitch-dark-contrast-rgb: 0, 0, 0;
  --ion-color-pitch-dark-shade: #d7d8da;
  --ion-color-pitch-dark-tint: #f5f6f9;

   /** dark-gradient **/
   --ion-color-semi-dark-gradient: linear-gradient(#323433, #141515);
   --ion-color-semi-dark-gradient-rgb: 244, 244, 244;
   --ion-color-semi-dark-gradient-contrast: #f7be06;
   --ion-color-semi-dark-gradient-contrast-rgb: 0, 0, 0;
   --ion-color-semi-dark-gradient-shade: #d7d8da;
   --ion-color-semi-dark-gradient-tint: #f5f6f9;

  /** info **/
  --ion-color-info: #f7e393;
  --ion-color-info-rgb: 255, 206, 0;
  --ion-color-info-contrast: #000;
  --ion-color-info-contrast-rgb: 255, 255, 255;
  --ion-color-info-shade: #cec294;
  --ion-color-info-tint: #8f740b;
}