/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary  Ionic Variables and Theming
 * @author code@rollingarray.co.in
 *
 * Created at     : 2021-05-18 19:16:57 
 * Last modified  : 2022-01-26 20:54:02
 */

@import url(https://fonts.googleapis.com/css?family=Ubuntu&display=swap);
 
:root {
  // font
  --ion-font-family: 'Ubuntu', sans-serif;
  font-family: var(--ion-font-family) !important;
  
  /** primary **/
  --ion-color-primary: #003566;
	--ion-color-primary-rgb: 0,53,102;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #002f5a;
	--ion-color-primary-tint: #1a4975;

  /** secondary **/
  --ion-color-secondary: #001d3d;
	--ion-color-secondary-rgb: 0,29,61;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #001a36;
	--ion-color-secondary-tint: #1a3450;

  /** secondary **/
  --ion-color-tertiary: #ffc300;
	--ion-color-tertiary-rgb: 255,195,0;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #e0ac00;
	--ion-color-tertiary-tint: #ffc91a;

  /** success **/
  --ion-color-success: #a7c957;
	--ion-color-success-rgb: 167,201,87;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #93b14d;
	--ion-color-success-tint: #b0ce68;

  /** warning **/
  --ion-color-warning: #fca311;
	--ion-color-warning-rgb: 252,163,17;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #de8f0f;
	--ion-color-warning-tint: #fcac29;

  /** danger **/
  --ion-color-danger: #d62828;
	--ion-color-danger-rgb: 214,40,40;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #bc2323;
	--ion-color-danger-tint: #da3e3e;

  /** medium **/
  --ion-color-medium: #6e6e70;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #e4e6eb;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;
}