<!-- 
	/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * long description for the file
 *
 * @summary Sign in page template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2021-10-31 17:23:00 
 * Last modified  : 2021-12-26 11:30:04
 */
 -->


<ion-content lines="none" color="primary">
	<form [formGroup]="formGroup" (ngSubmit)="submit()" color="primary" lines="none">
		<ion-grid lines="none">
			<ion-row justify-content-center lines="none">
				<ion-col align-self-center size="12" size-xl="6" size-lg="6" size-md="6" size-sm="6" offset-lg="3" offset-md="3"
					offset-sm="3" lines="none">
					<!-- app icon -->
					<img class="margin-top-50-px" [src]="stringKey.IMAGE_ICON" />
					<!-- app icon -->

					<!-- page title -->
					<app-page-info-title [helpArticle]="apiUrls.HELP_SIGN_IN" [title]="stringKey.SIGN_IN" [info]="stringKey.SIGN_IN_INFO">
					</app-page-info-title>
					<!-- page title -->

					<!-- email -->
					<ion-card color="secondary">
						<ion-item color="secondary" lines="none">
							<ion-icon [src]="stringKey.ICON_FORM"></ion-icon>
							<p>{{stringKey.FORM_INFO_CREDENTIAL_EMAIL}}</p>
						</ion-item>
						
						<ion-card lines="none" color="light">
							<ion-item lines="none" color="light">
								<ion-label position="floating">{{stringKey.EMAIL}}</ion-label>
								<ion-input autocomplete="off" [placeholder]="stringKey.FORM_PLACEHOLDER_PROFILE_EMAIL"
									formControlName="userEmail" type="text" value="">
								</ion-input>
							</ion-item>
							<ion-card *ngIf="userEmail.invalid && userEmail.touched" color="warning">
								<ion-item color="warning">
									<ion-icon color="danger" slot="start" [src]="stringKey.ICON_WARNING"></ion-icon>
									{{stringKey.FORM_VALIDATION_EMAIL}}
								</ion-item>
							</ion-card>
						</ion-card>
					</ion-card>
					<!-- email -->
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content>
<ion-footer>
	<ion-toolbar color="primary-gradient">
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-button class="footer-button" size="default" expand="block" color="semi-dark" (click)="goBack()">
						<ion-icon [src]="stringKey.ICON_CANCEL"></ion-icon>
						<ion-label>&nbsp; {{stringKey.CANCEL}} </ion-label>
					</ion-button>
				</ion-col>
				<ion-col>
					<ion-button class="footer-button" size="default" expand="block" color="tertiary" (click)="submit()"
						[disabled]="formGroup.invalid">
						<ion-icon [src]="stringKey.ICON_LOGIN"></ion-icon>
						<ion-label>&nbsp; {{stringKey.SIGN_IN}} </ion-label>
					</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-toolbar>
</ion-footer>