<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * long description for the file
 *
 * @summary Intro component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2021-11-11 16:33:48 
 * Last modified  : 2021-12-26 20:42:00
 */
 -->
<ion-content fullscreen class="ion-padding" scroll-y="false" lines="none">
	<ion-slides lines="none" #slides (ionSlideDidChange)="slideChanged(slides)" (ionSlideReachEnd)="reachedEnd($event)"
		(ionSlideReachStart)="reachedBegining($event)" pager="true">

		<ion-slide *ngFor="let slide of slideArray">
			<ion-grid lines="none">
				<p align="center" class="swiper-slide">
					<img [src]="['./assets/images/'+slide.imageName+'.svg']" />
				</p>
				<ion-row justify-content-center lines="none">
					<ion-col align-self-center size-md="12" size-lg="12" size-xs="12" lines="none">
						<div class="slide">
							<h2 color="dark"><b>{{slide.title}}</b></h2>
							<p [innerHTML]="slide.info"></p>
							<ion-button color="dark" (click)="endIntro()" [href]="slide.helpUrl" target="_blank">
								{{stringKey.LEARN_MORE}}
							</ion-button>
							<ion-button color="primary" (click)="endIntro()">
								{{slide.buttonText}}
								<ion-icon slot="end" [src]="stringKey.ICON_RIGHT_ARROW"></ion-icon>
							</ion-button>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-slide>
	</ion-slides>
</ion-content>