<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * long description for the file
 *
 * @summary No data component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2021-11-23 19:33:50 
 * Last modified  : 2022-01-16 07:40:01
 */
 -->
<ion-card class="card-no-shadow">
	
	<ion-text color="dark">
		
		<h4>
			<ion-icon [src]="stringKey.ICON_INFO"></ion-icon>
			&nbsp;{{ text }}
		</h4>
	</ion-text>
	

	<p align="center">
		<ion-icon class="font-size-100-px" *ngIf="courseMaterial" [src]="stringKey.ICON_NO_DATA" ></ion-icon>
	</p>
</ion-card>