
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * long description for the file
 *
 * @summary No data component template style
 * @author code@rollingarray.co.in
 *
 * Created at     : 2021-11-23 19:33:50 
 * Last modified  : 2021-11-23 20:21:00
 */

img{
    height: 50vh;
}

ion-card{
    cursor: pointer;
}

ion-text {
    padding: 10px;
    text-align: center;
}