<!-- 
/**
* © Rolling Array https://rollingarray.co.in/
*
* long description for the file
*
* @summary Course material page template
* @author code@rollingarray.co.in
*
* Created at     : 2022-01-16 08:18:18 
 * Last modified  : 2022-01-26 19:01:28
*/	
 -->
<!-- header -->
<ion-header [appScrollTracker]="scrollArea">
	<ion-toolbar color="primary">
		<ion-title> {{pageTitle | translate}} </ion-title>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-buttons slot="end" (click)="loadData()">
			<ion-icon slot="start" [src]="stringKey.ICON_REFRESH"></ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<!-- header -->
<ion-content #scrollArea scrollEvents="true">
	<!-- page title -->
	<app-page-info-title [title]="pageTitle | translate"
		[info]="pageSubTitle | translate">
	</app-page-info-title>
	<!-- page title -->

	<!-- refresh btn -->
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<!-- refresh btn -->

	<!-- add btn -->
	<ion-fab *ngIf="isUserTypeTeacher" slot="fixed" vertical="bottom" horizontal="end"
		(click)="createNewCourseMaterial()">
		<ion-fab-button color="primary">
			<ion-icon [src]="stringKey.ICON_ADD"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<!-- add btn -->

	<!-- no data -->
	<app-no-data [courseMaterial]="true" *ngIf="!(hasData$ | async)" [text]="errorMessage"></app-no-data>
	<!-- no data -->

	<!-- data container -->
	<ng-container *ngIf="(hasData$ | async)">
		<ion-grid>
			<ion-row>
				<ion-col size-xs="12" size-xl="4" size-lg="6" size-md="6" size-sm="6"
					*ngFor="let eachCourseMaterials of (courseMaterials$ | async)">

					<!-- each container -->
					<ion-card>

						<!-- data -->
						<img [src]="stringKey.IMAGE_PANEL_HEADER"
							(click)="navigateToCourseMaterialDetails(eachCourseMaterials.courseMaterialId)" />
						<ion-card-header
							(click)="navigateToCourseMaterialDetails(eachCourseMaterials.courseMaterialId)">
							<ion-card-subtitle>{{eachCourseMaterials.createdAt | date:'fullDate'}}</ion-card-subtitle>
							<ion-card-title>{{eachCourseMaterials.courseMaterialName}}</ion-card-title>
						</ion-card-header>
						<ion-card-content
							(click)="navigateToCourseMaterialDetails(eachCourseMaterials.courseMaterialId)">
							{{eachCourseMaterials.courseMaterialDescription}}
						</ion-card-content>
						<ion-card-content>
							<keyword [context]="eachCourseMaterials.courseMaterialDescription"></keyword>
						</ion-card-content>
						<!-- data -->

						<!-- operation tool -->
						<!-- <ion-toolbar> -->
						<div class="margin-10-px" *ngIf="isUserTypeTeacher">
							<ion-button mode="ios"
								(click)="onCourseMaterialAction(eachCourseMaterials, operationsEnum.EDIT)">
								<ion-icon [src]="stringKey.ICON_EDIT"></ion-icon>
							</ion-button>
							<ion-button mode="ios"
								(click)="onCourseMaterialAction(eachCourseMaterials, operationsEnum.DELETE)">
								<ion-icon [src]="stringKey.ICON_DELETE"></ion-icon>
							</ion-button>
						</div>

						<!-- </ion-toolbar> -->
						<!-- operation tool -->

					</ion-card>
					<!-- each container -->
				</ion-col>
			</ion-row>
		</ion-grid>
	</ng-container>
	<!-- data container -->
</ion-content>